@import 'modules/colours';
@import 'modules/typography';
@import 'modules/variables';

// Icons

@import 'partials/icons';


// Bootstrap 

@import 'vendor/bootstrap';



// Components

@import 'components/navbar';
@import 'components/imageTab';
@import 'components/project-grid';

// Pages

@import 'pages/homepage';
@import 'pages/article';
@import 'pages/resume';
@import 'pages/about';