@import 'modules/colours';
@import 'modules/typography';
@import 'modules/variables';

// Bootstrap 

@import 'vendor/bootstrap';


// Components

@import 'components/navbar';
 

// Pages

@import 'pages/homepage';
@import 'pages/article';