// icons.scss


.link-more {
        
      &::after {
          content: " →";
        }
    }


.arrow-left {
        
      &::before {
        content: "← ";
        }
    }




.link-external {
      &::after {
          content: "→";
          margin-left: 4px;
          display: inline-block;
          transform: rotate(-45deg);
        }
    }