// About

.about {
    
        h1 {
            margin-top: 60px;
            //margin-bottom: 128px;
        }
    
    img {
        max-width: 100%;
        height: auto;
        border-radius: 5%;
    }
}
