// article


.article {
    
    
    
    .paragraph {
        margin-bottom: $spacer * 6;
    }
    
    img {
        padding-bottom: $spacer * 8;
    }
    
    @include media-breakpoint-up(sm){
            h1{
                font-weight: 900;
                font-size: 5vw;}
        
        }
}