// article


.article {
    
    .paragraph {
        padding-bottom: 128px;
        margin: auto;
        max-width: 550px;
        
        h3 {
            padding-bottom: 24px;
            font-weight: 700;
        }
    }
    
    img {
        padding-bottom: 128px;
    }
     
    .nextProject {
        position: relative;
        transition: 0.2s;
    }
    
    .nextProject:hover {
        transform: scale(0.99);
    }
    
    .nextProject img {
        height: 50vh;
        width: 100%;
        object-fit: cover;
    }
    
  .nextProjectText {
        position: absolute;
        top: 8px;
        left: 50px;
        }
    
    @include media-breakpoint-down(sm){
        .paragraph {
            max-width: 400px;
        }
    }
    
    /* @include media-breakpoint-up(sm){
        
            h1{
                font-size: 3vw;}
        }
    */
}