// article


.article {
    
    .paragraph {    
        margin: auto;
        margin-bottom: 128px;
        max-width: 550px;
        
            h3 {
                padding-bottom: 24px;
                font-weight: 700;
                }
        }
    
    .image {
        margin-bottom: 128px;
        }
    
    figcaption {
        text-align: center;
        color: $gray-200;
    }
    
    .embed-responsive {
        margin-bottom: 128px;
    }
    
    .carousel-indicators li {
        bottom: -40px;
    }
    
    .nextProject img{
        border-radius: $borderRadius;
    }
    
    @include media-breakpoint-down(sm){
        
        .paragraph {
            margin-bottom: 64px;
            max-width: 400px;
        }
        
        .image {
            margin-bottom: 64px;
        }
        
        h1 {
            font-size: 3rem;
        }
        
        .nextProject:last-child{
            display: none;
        }
        
        .lastLetter {
            display: none;
        }
    }
}