// article


.article {
    
    .company img{
        height: 20px;
        border-radius: 4px;
        margin-bottom: 4px;
    }
    
    h1 {
            margin-bottom: 128px;
        }

    
    .back-mob{
            padding: 4px 16px;
            bottom: 20px;
            left: 20px;
            background-color: $black;
            box-shadow: $box-shadow;
            border-radius: 24px;
            display: none;
                a {
                    color: white;
                }
            }
    
    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: $spacer*2;
    }
    
     .scroll-fade {
        opacity: 0;
        transition: 0.3s;
    }
    
     .show {
        opacity: 1;
    }
    
    
    .paragraph {    
        margin-bottom: $spacer*8;
        
            h2, h3, h4, h5, h6 {
                padding-bottom: $spacer*2;
                }

            h2 {
                font-size: $fox;
            }
        
            h3 {
                font-size: $rabbit;
            }
        
             h4 {
                font-size: $ferret;
            }
            h5 {
                font-size: $mouse;
            }
        }
    
    .image {
        margin-bottom: $spacer*8;
        }
    
    .image-container{
        background-color: #f1f1f1;
        
        
        img {
            max-height: 60vh;
            display: block;
            margin: 0 auto;
        }
    }
    
    figcaption {
        text-align: center;
        color: $gray-200;
    }
    
    .embed-responsive {
        margin-bottom: $spacer*8;
    }
    
    .carousel-indicators li {
        bottom: -$spacer*3;
    }
    
     
    @include media-breakpoint-down(sm){
        
        .back-mob {
            display: block;
            z-index: 2;
        }
        
        .paragraph {
            margin-bottom: $spacer*4;
        }
        
        .image {
            margin-bottom: $spacer*4;
        }
    }
}