// article


.article {
    
    .company img{
        height: 20px;
        border-radius: 4px;
        margin-bottom: 4px;
    }
    
//    h1 {
//            margin-bottom: 128px;
//        }


    img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: $spacer*2;
        border: 1px solid $gray-200;
    }
    
    a img {
        border: 4px solid $gray-100;
    }
     a img:hover {
        border: 4px solid $gray-300;
    }
    
     .scroll-fade {
        opacity: 0;
        transition: 0.3s;
    }
    
     .show {
        opacity: 1;
    }
    
    
    .paragraph {    
        margin-bottom: $spacer*6;

            h2 {
                font-size: $fox;
                margin-bottom: $spacer*2;
            }
        
            h3 {
                font-size: $rabbit;
                margin-bottom: $spacer*1;
            }
        
             h4 {
                font-size: $ferret;
            }
            h5 {
                font-size: $mouse;
            }
        }
    
    .problem {
        margin-bottom: $spacer*8;
    }
    
    .image {
        margin-bottom: $spacer*8;
        }
    
    .image-container{
        background-color: #f1f1f1;
        
        
        img {
            max-height: 60vh;
            display: block;
            margin: 0 auto;
            
        }
    }
    
    figcaption {
        text-align: center;
        color: $gray-300;
        margin-bottom: $spacer*5;
        font-weight: 200;
        font-size: 18px;
    }
    
    .embed-responsive {
        margin-bottom: $spacer*8;
    }
    
    .carousel-indicators li {
        bottom: $spacer*3;
    }
    
     
    @include media-breakpoint-down(sm){
        
//        .back-mob {
//            display: block;
//            z-index: 2;
//        }
//        
        .paragraph {
            margin-bottom: $spacer*4;
        }
        
        .image {
            margin-bottom: $spacer*4;
        }
    }
}