// article


.article {
    
    .nextProject {
        position: relative;
    }
    
  .nextProjectText {
        position: absolute;
        top: 8px;
        left: 50px;
        }
    
    @include media-breakpoint-up(sm){
        
            h1{
                font-size: 5vw;}
        }
    
}