// homepage

.homepage {
    
    .intro {
        max-width: 650px;
        //background-color: $gray-100;
        //padding: $spacer;
    }
    
    h1{
        color: $gray-300;
    }
    
    .j-logo {
        height: 48px;
        width: 48px;
    }
    
    .j-logo:hover{
        text-decoration: none;
        transition: 0.1s;
        transform: scale(.94);
    }
    
    .svg-logo{
        height: 50px;
        width: auto;
        fill: none;
        stroke: $gray-300;
        stroke-width: 4;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: 5s ease-out 0.5s 1 normal both running outline;
        transition: 0.1s;
    }
    
    @keyframes outline {
      to {
        stroke-dashoffset: 0;
      }
    }
    
    .svg-logo:hover{
        transition: 0.1s;
        transform: scale(.94);
    }
    
    
    .snipe-png, .snipe-gif {
        width: 52px;
        margin-right: 5px;
        }
    
    .snipe-png {
       position: absolute;
        }
    
  .about:hover {
        .snipe-png {
        opacity: 0;
        }
    }
    
    
    
    .project {
        
        
        img {
            transition: 0.2s;
        }
        
        
        img:hover {
            transform: scale(1.05);
        }
        
        

        
        @include media-breakpoint-down(md){
            
            p, .link-more {
                display: none;
            }
        }
        
        @include media-breakpoint-down(xs){
            
            img{
                box-shadow: $box-shadow;
            }
        } 
        
    }
    
}
