// homepage

.homepage {


    ul {
        list-style-type: none;
      }


    li {
        float: left;
        padding-right: ($spacer * 2);
        }

    
    .intro {
        
        margin-top: $spacer*16;
        
        h1 {
            color: $gray-100;
            
        }
        
        @include media-breakpoint-down(sm){
            
            margin-top: $spacer*8;
            
            h4{ font-size: 1.3rem;}
        }
    }
    
    .intro, li {
        a {
            font-weight: 400;
        }
    }
    
    li {
        transition: 0.2s;
    }
    
    ul li:hover {
        transform: translate(2px);
        transition: 0.2s;
    }
    
    .project {
        
        a:hover {
            text-decoration: none;
        }
        
        h2:hover {
            color: $black;
        }
        
        h6 {
            color: $gray-200;
            padding-left: 4px;
            }
        
        img {
            //object-fit: cover;
            //min-height: 360px;
            transition: 0.2s;
        }
        
        img:hover { 
            transform: scale(1.05);
        }
        
        @include media-breakpoint-down(md){
            
            p {
                display: none;
            }
        }
        
        @include media-breakpoint-down(xs){
            
            img{
                box-shadow: $box-shadow;
            }
        } 
        
    }
}
