// homepage

.homepage {


    ul {
        list-style-type: none;
      }


    li {
        float: left;
        display: block;
        padding-right: ($spacer * 2);
        }

    
    .intro {
        
        h1 {
            color: $gray-100;
            font-weight: 600;
        }
        
        h5 {
            color: $gray-200;
        }
        
        @include media-breakpoint-down(sm){
            
            h4{ font-size: 1.3rem;}
        }
    }
    
     
    .project {
        
        
        h6 {
            text-transform: uppercase;
            color: $gray-200;
            padding-left: 4px;
            }
        
        img {
            object-fit: cover;
            min-height: 360px;
            transition: 0.2s;
        }
        
        img:hover { 
            transform: scale(1.02);
        }
        
        
        @include media-breakpoint-down(md){
            
            h2 {
                font-size: 2rem;
                
            }
            
            p {
                display: none;
            }
        }
        
    }
}
