// homepage

.homepage {
    
    
    
    .intro {
        
        h1 {
            color: $gray-100;
        }
        
        h5 {
            color: $gray-200;
        }
        
        @include media-breakpoint-down(sm){
            
            h4{ font-size: 1.3rem;}
        }
    }
    
     
    .project {
        
        
        h6 {
            text-transform: uppercase;
            color: $gray-200;
            }
        
        img {
            object-fit: cover;
            min-height: 360px;
            transition: 0.2s;
        }
        
        img:hover { 
            transform: scale(0.99);
        }
        
        @include media-breakpoint-down(sm){
            
            h2 {
                font-size: 2rem;
            }
        }
    }
}
