// homepage

.homepage {
    
    .intro {
        
        h1, p {
            color: $gray-200;
        }
        
        @include media-breakpoint-down(sm){
            
            h3{ font-size: 1.3rem;}
            p{font-size: .8rem;}
        }
    }
    
     
    .project {
        
        
        h5 {
            text-transform: uppercase;
            color: $gray-200;
            }
        
        img {
            object-fit: cover;
            min-height: 360px;
        }
        
        @include media-breakpoint-up(sm){
            h2{font-size: 5vw;}
        }
    }
}
