// Resume

.resume {
    
    .experience {
        
        p {
            max-width: 550px;
        }
        
        
    }
     
    .skills {
        
        padding-bottom: $spacer * 5;
        
        li {
            width: 100%;
        }
        
        p {
            margin-bottom: 0px;
        }
    }
}