// badge.scss

.badge {

    margin-bottom: 0px !important;  
    display: inline-block;
    font-size: 1.1rem;
    background-color: #F9F9F9;
    padding: 0 0.75rem;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,.05);
}