// footer

.footer {
    padding-top: $spacer*6;
    padding-bottom: $spacer*6;
    background-color: $white;
    font-size: $mouse;
    margin: 12px;
    border-radius: 12px;
    border: 1px solid $gray-200;
    
    ul{
        list-style: none;
        padding: 0px;
    }
    
}