// link-button

.link-button {
    padding: 12px 24px;
    border-radius: 36px;
//    font-weight: 600;
    background-color: #FCE8E8;
    color: #003366;
}

.link-button:hover {
    background-color: #F4CDCC;
}

.link-button:active {
    box-shadow: 0 0 0 4px #FCE8E8;
}