// navbar.scss

.navbar {
    height: 48px;
    width: 100%;
    background-color: white;
    opacity: 0.98;
    backdrop-filter: blur(4px);
    
    .nav-title {
        padding-right: 32px;
        font-weight: 600; 
        color: $gray-200;
    }
    
    .scroll-fade {
        text-align: center;
        margin: auto;
        opacity: 0;
        transition: 0.3s;
    }
    
    .show {
        opacity: 1; 
    }
    
    .arrowLeft {
        fill: $gray-100;
    }
     
      .arrowLeft:hover {
        transform: scale(1.05);
        fill: $primary;
    }
    
    @include media-breakpoint-down(sm){
        .arrowLeft {
            margin-left: -24px;
        }
        .nav-title {
            padding-right: 0px;
        }
    }
}  