// navbar.scss

.navbar {
    height: 48px;
    width: 100%;
    background-color: white;
    opacity: 0.98;
    backdrop-filter: blur(4px);
    padding: 0px;
    
    .nav-title {
        width: 100%;
        left: 0;
        color: $gray-300;
        text-transform: uppercase;
        letter-spacing: .1em;
        font-size: 11px;
    }
    
    .scroll-fade {
        text-align: center;
        margin: auto;
        opacity: 0;
        transition: 0.3s;
    }
    
    .show {
        opacity: 1;
    }
    
    .link-left, .link-right {
        transition: 0.2s;
    }
    
      .link-left:hover {
        transform: translate(-2px);
        transition: 0.2s;
    }
    
    .link-right:hover {
        transform: translate(2px);
        transition: 0.2s;
    }
    
    .above-title {
        z-index: 10;
    }
    
    @include media-breakpoint-down(sm){
        .nav-title {
            padding-right: 0px;
        }
    }
}  