// navbar.scss

.navbar {
    height: 64px;
    width: 100%;
    background-color: white;
    opacity: 0.97;
    backdrop-filter: blur(4px);
    
    .title {
        text-align: center;
        margin: auto;
        display: none;
    }
    
      .arrowLeft:hover {
        transform: scale(1.05);
        fill: $primary;
    }
}