// navbar.scss

.navbar {
    height: 72px;
    width: 100%;
    background-color: $bg-color-light;
    opacity: 0.98;
    backdrop-filter: blur(4px);
    padding: 0px;
    //position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1040;
    
    
    .nav-title {
        font-weight: 700;
        margin: auto;
    }
    
    
    .scroll-fade {
        opacity: 0;
        transition: 0.3s;
    }
    
    .show {
        opacity: 1;
    }
    
    .left-transition {
        transition: 0.2s;
    }
    

    .left-transition:hover {
        transform: translate(-2px);
        transition: 0.2s;
    }
    
    .above-title {
        z-index: 10;
    }
    
    @include media-breakpoint-down(sm){
        
            position: static;
    }
}
.active {
    box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 2px 4px;
}