.project-sm {
    
    border: 1px solid $gray-200;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: $spacer*2;
    border-radius: 8px;
    background-color: white;
    
    img {
        width: 240px;
        padding-right: 40px;
    }
    
    @include media-breakpoint-down(sm){
        
        padding: $spacer*1;
        
        img {
            width: 130px;
            padding-right: 20px;
        }
    }

}
