// Insight

.insight {
    border-left: 12px solid $gray-100;
    padding: 0px 32px;
    margin: 124px 0px;
    
//    .insight-title {
//        color: $gray-300;
//        font-weight: bold;
//        &::after {
//          content: open-quote open-quote;
//        }
//    }
    
    p {
        line-height: 130%;
    }

      
    .insight-type {
        font-style: italic;
    }
}

.insight:hover{
    border-left: 12px solid $gray-200;
}