// Insight

.insight {
    border-left: 12px solid $gray-100;
    padding: 0px 32px;
    margin: 124px 0px;
    
    
    p {
        line-height: 130%;
//        font-family: Caveat, serif;
    }

      
    .insight-type {
        font-style: italic;
    }
}

.insight:hover{
    border-left: 12px solid $gray-200;
}