//Typography

p {
    font-weight: 100;
    color: $gray-300;
}

$font-size-base:              1rem; // Assumes the browser default, typically `16px`


$h1-font-size:                $font-size-base * 3;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 0.875;
$h5-font-size:                $font-size-base * .75;
$h6-font-size:                $font-size-base !default; 


$headings-font-weight: 100;

.type-bold {
    font-weight: 900;
}

$headings-color: $gray-300;

$font-family-sans-serif: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
