//Typography


//$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Nunito Sans', serif;

$type-ratio: 1.28;


$font-size-base:              1rem*$type-ratio; // Assumes the browser default, typically `16px`


//16px base with ratio of 1.28


$h1-font-size:                $font-size-base;
$h2-font-size:                $font-size-base;
$h3-font-size:                $font-size-base;
$h4-font-size:                $font-size-base;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base;

$headings-color: $black;
$headings-font-weight: 300;
$headings-line-height: 100%;
$headings-font-family: 'Times', serif;

p, a, li, q {
    font-family: 'Nunito Sans', serif;
    font-size: $font-size-base;
    font-weight: 300;
    color: $black;
    line-height: 170%;
    max-width: 30em;
}

b, strong {
    font-weight: bold !important;
}

$shrew: $font-size-base;
$mouse: $shrew*1.28;
$ferret: $mouse*1.28;
$rabbit: $ferret*1.28;
$fox: $rabbit*1.28;
$deer: $fox*1.28;
$stag: $deer*1.28;




.shrew {
    font-size: $shrew;
}

.mouse {
    font-size: $mouse;
}

.ferret {
    font-size: $ferret;
}

.rabbit {
    font-size: $rabbit;
}

.fox {
    font-size: $fox;
}

.deer {
    font-size: $stag;
}



 @media (min-width: 540px){
     
    p, a, li, q, .shrew {
    font-size: $mouse;
    }

    .mouse {
        font-size: $ferret;
    }

    .ferret {
        font-size: $rabbit;
    }

    .rabbit {
        font-size: $fox;
    }

    .fox {
        font-size: $deer;
    }
     
     .deer {
         font-size: stag;
     }
} 

 @media (min-width: 1695px){
     
    p, a, li, .shrew {
    font-size: $ferret;
    }

    .mouse {
        font-size: $rabbit;
    }

    .ferret {
        font-size: $fox;
    }

    .rabbit {
        font-size: $deer;
    }

    .fox {
        font-size: $stag;
    }
} 


//ul {
//    list-style-type: none;
//    padding: 0px;
//    margin: 0px;
//}


::-moz-selection { /* Code for Firefox */
  color: white;
  background: $black;
}

::selection {
  color: white;
  background: $black;
}