//Typography

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


$font-size-base:              1rem; // Assumes the browser default, typically `16px`


$h1-font-size:                $font-size-base * 4;
$h2-font-size:                $font-size-base * 3;
$h3-font-size:                $font-size-base * 2;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base !default;
$h6-font-size:                $font-size-base * 0.75; 

$headings-color: $gray-300;
$headings-font-weight: 600;


p {
    font-family: Raleway, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
    font-size: 1rem;
    font-weight: 300;
    color: $gray-300;
}

.title {
    margin-top: 128px;
    margin-bottom: 128px;
}

ul, ol{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}