 //Links

$link-color: $black;
$link-hover-color: $primary;
$font-weight-normal: none;


.btn-link {
    cursor: pointer;
    text-decoration: underline;
}



//Spacing

$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4),
    7: ($spacer * 8)  
  ),
  $spacers
);





// Grid

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1040px
);




// Lists

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }


li {
    float: left;
    display: block;
    padding-right: ($spacer * 2);
}
 