//border-radius

$border-radius: 16px;
//$br-shrew: 4px;
//$br-mouse: 8px;
//$br-ferret: 16px;
//$br-rabbit: 24px;
//$br-fox: 32px;



//shadow

$box-shadow: 1px 1px 16px #B7B7B7;
$box-shadow-lg: 0px 8px 32px rgba(84, 90, 121, 0.5);
$box-shadow-soft: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);

//Spacing

$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
    0: 0rem,
    1: 0.178rem,
    2: 0.317rem,
    3: 0.563rem,
    4: $spacer,
    5: 1.777rem,
    6: 3.157rem,
    7: 5.61rem,
    8: 9.969rem,
    9: 17.713rem,
   10: 31.475rem
  ),
  $spacers
); 
     

 //Links
$link-decoration: none;
$link-color: $gray-300;
$link-hover-color: $black;
$link-hover-decoration: none;

//States
$active: 0px 0px 0px 3px $black;
$hover-bg: rgba(0, 26, 77, .05);

// Grid

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1695px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 900px,
  lg: 1280px,
  xl: 1600px
);

$carousel-control-color: $gray-200;
$carousel-indicator-active-bg: $gray-200;

// Animation
$transition-timing-function: cubic-bezier(.68,-.55,.265,1.55);

    
