//border-radius

.borderRadius {
    border-radius: 16px;
}

$borderRadius: 16px;


//shadow

$box-shadow-lg: 1px 1px 16px #E0E0E0;



//Spacing

$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
    0: 0px,
    1: 4px,
    2: 8px,
    3: $spacer,
    4: 24px,
    5: 32px,
    6: 40px,
    7: 56px,
    8: 96px,
    9: 128px,
   10: 256px
  ),
  $spacers
);




 //Links

$link-color: $black;
$link-hover-color: $primary;
$font-weight-normal: none;


.btn-link {
    cursor: pointer;
}

$link-hover-decoration: none;





// Grid

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1040px
);



// Icons

.arrowLeft {
    fill: $gray-100;
    cursor: pointer;
}


// Carousel

$carousel-control-color: $gray-200;
$carousel-indicator-active-bg: $gray-200;
